IREAL mvp plan (8).json
{
  "name": "IREAL mvp plan",
  "nodes": [
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1hG9KoGw1Aqz2728UxcFecq6HSLSACMmihaj3EkMTeIU",
          "mode": "list",
          "cachedResultName": "Estrategia de contenido plantilla",
          "cachedResultUrl": "https://docs.google.com/document/d/1hG9KoGw1Aqz2728UxcFecq6HSLSACMmihaj3EkMTeIU/edit?usp=drivesdk"
        },
        "name": "=Estrategia de contenido {{ $('Google Sheets Trigger').item.json['Danos tu correo y te enviaremos tu plan mágico personalizado'] }} {{ $('Google Sheets Trigger').item.json['Marca temporal'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        -224
      ],
      "id": "75e51225-f97e-4b85-bce2-c43a3f9ad07b",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HvmC4tCj0SaIe2aw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        48
      ],
      "id": "9de9d5dc-cf44-4736-a88c-4d3ef9384077",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JN5wDvc5w64gvubu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres el asistente mágico de IREAL. Tu misión es ayudar a los creadores a transformar ideas en contenido.\nDebes responder con tono inspirador, claro, con secciones y valor táctico.\nINSTRUCCIÓN CRÍTICA: Responde ÚNICAMENTE con el objeto JSON válido. \nNo agregues texto antes ni después del JSON.\nNo uses markdown code blocks (```json).\nNo agregues saludos, explicaciones ni comentarios.\nTu respuesta debe comenzar con { y terminar con }.\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=\nEres el asistente mágico de IREAL. Creas estrategias de contenido personalizadas.\n\nINSTRUCCIÓN CRÍTICA: \n- Responde ÚNICAMENTE con JSON válido\n- NO uses markdown (```json), NO agregues texto antes/después\n- Tu respuesta debe comenzar con { y terminar con }\n\nDATOS DEL USUARIO:\nemail: {{ $json['Danos tu correo y te enviaremos tu plan mágico personalizado'] }}\nnombre: {{ $json['¿Cómo te llamas? (o el nombre de tu cuenta) '] }} (Si viene todo en minuscilas, pon la primera mayúsucla siempre)\npasion: {{ $json['¿Qué es lo que MÁS te gusta hacer o de lo que podrías hablar horas sin cansarte?  '] }}\nmotivacion: {{ $json['  ¿Por qué quieres crear contenido? ¿Qué te motiva o qué sueñas lograr con esto  '] }}\nconexion: {{ $json[' Imagina a la persona con la que más te gustaría conectar a través de tu contenido. ¿Cómo es? ¿Qué le importa? ¿Qué siente?  '] }}\ntemas: {{ $json['¿Qué temas, historias o mensajes te emocionan tanto que NECESITAS compartirlos?  '] }}\nvision: {{ $json['Si tu contenido fuera exitoso en 6 meses, ¿Qué estaría pasando? ¿Cómo se vería ese éxito para ti?  '] }}\ntiempo: {{ $json['¿Cuánto tiempo REALMENTE puedes dedicar cada semana a crear contenido  '] }}\n\nTAREAS:\n\n1. CLASIFICACIÓN DE RUTA\nDetermina si el contenido debe ser ENTRETENIMIENTO o EDUCACIÓN:\n- ENTRETENIMIENTO: Objetivo de crecimiento rápido, estilo casual/divertido, temas lifestyle\n- EDUCACIÓN: Objetivo de expertise/ventas, estilo educativo, temas técnicos\n\n2. PERFIL DE AUDIENCIA\nCrea un perfil detallado con:\n- descripcion_general (2-3 párrafos)\n- demografia, psicografia\n- pain_points (array con 3 problemas)\n- aspiraciones (array con 3 aspiraciones)\n- lenguaje_recomendado\n\n3. FUNDAMENTOS\n- 3 pilares_contenido (cada uno con nombre, descripcion, proposito)\n- tono_voz\n- propuesta_valor\n\n4. IDEAS DE CONTENIDO\nSi RUTA = ENTRETENIMIENTO: genera MÍNIMO 20 ideas\nSi RUTA = EDUCACIÓN: genera MÍNIMO 12 ideas\n\nTODAS las ideas deben tener:\n- numero, tema, hook, desarrollo, punto_quiebre, cta, copy, pilar\n\nCRÍTICO: NO generes 0 ideas. Siempre genera el mínimo requerido.\n\n5. RECOMENDACIONES\n- frecuencia_publicacion, mejores_horarios\n- hashtags_sugeridos (array con 5-8 hashtags), formatos_prioritarios (array con 3-5 formatos)\n- metricas_clave (array con 4-6 métricas), consejos_magicos (array con 3 consejos)\n\nIMPORTANTE PARA METADATA:\n- nombre: Usa el nombre del campo \"nombre\" de los DATOS DEL USUARIO\n- fecha: Genera la fecha actual en formato YYYY-MM-DD\n\nFORMATO DE SALIDA:\n\n{\n  \"ruta_seleccionada\": \"ENTRETENIMIENTO o EDUCACIÓN\",\n  \"explicacion_ruta\": \"Texto de 2-3 párrafos explicando por qué esta ruta\",\n  \"metadata\": {\n    \"nombre\": \"COPIA EXACTA DEL NOMBRE DE LOS DATOS DEL USUARIO\",\n    \"fecha\": \"2025-01-15\"\n  },\n  \"perfil_audiencia\": {\n    \"descripcion_general\": \"Texto de 2-3 párrafos\",\n    \"demografia\": \"Texto describiendo edad, ubicación, nivel socioeconómico\",\n    \"psicografia\": \"Texto describiendo intereses, valores, comportamiento\",\n    \"pain_points\": [\"problema 1\", \"problema 2\", \"problema 3\"],\n    \"aspiraciones\": [\"aspiración 1\", \"aspiración 2\", \"aspiración 3\"],\n    \"lenguaje_recomendado\": \"Texto explicando cómo hablarle a esta audiencia\"\n  },\n  \"fundamentos\": {\n    \"pilares_contenido\": [\n      {\"nombre\":\"nombre del pilar 1\", \"descripcion\":\"descripción completa\", \"proposito\":\"por qué importa\"},\n      {\"nombre\":\"nombre del pilar 2\", \"descripcion\":\"descripción completa\", \"proposito\":\"por qué importa\"},\n      {\"nombre\":\"nombre del pilar 3\", \"descripcion\":\"descripción completa\", \"proposito\":\"por qué importa\"}\n    ],\n    \"tono_voz\": \"Texto describiendo el tono de voz recomendado\",\n    \"propuesta_valor\": \"Texto describiendo la propuesta de valor única\"\n  },\n  \"ideas_contenido\": [\n    {\n      \"numero\": 1,\n      \"tema\": \"tema de la idea\",\n      \"hook\": \"gancho inicial\",\n      \"desarrollo\": \"desarrollo de la idea\",\n      \"punto_quiebre\": \"momento clave\",\n      \"cta\": \"llamado a la acción\",\n      \"copy\": \"copy completo para publicar\",\n      \"pilar\": \"nombre del pilar al que pertenece\"\n    }\n  ],\n  \"recomendaciones\": {\n    \"frecuencia_publicacion\": \"Texto con recomendación de frecuencia\",\n    \"mejores_horarios\": \"Texto con mejores horarios\",\n    \"hashtags_sugeridos\": [\"hashtag1\", \"hashtag2\", \"hashtag3\", \"hashtag4\", \"hashtag5\"],\n    \"formatos_prioritarios\": [\"formato1\", \"formato2\", \"formato3\"],\n    \"metricas_clave\": [\"metrica1\", \"metrica2\", \"metrica3\", \"metrica4\"],\n    \"consejos_magicos\": [\"consejo 1\", \"consejo 2\", \"consejo 3\"]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -224
      ],
      "id": "d7982def-727d-4e18-9a97-3ff074672f29",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "notesInFlow": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"ruta_seleccionada\": \"string\",\n  \"explicacion_ruta\": \"string\",\n  \"metadata\": {\n    \"nombre\": \"string\",\n    \"fecha\": \"string\"\n  },\n  \"perfil_audiencia\": {\n    \"descripcion_general\": \"string\",\n    \"demografia\": \"string\",\n    \"psicografia\": \"string\",\n    \"pain_points\": [\"string\"],\n    \"aspiraciones\": [\"string\"],\n    \"lenguaje_recomendado\": \"string\"\n  },\n  \"fundamentos\": {\n    \"pilares_contenido\": [\n      {\n        \"nombre\": \"string\",\n        \"descripcion\": \"string\",\n        \"proposito\": \"string\"\n      }\n    ],\n    \"tono_voz\": \"string\",\n    \"propuesta_valor\": \"string\"\n  },\n  \"ideas_contenido\": [\n    {\n      \"numero\": 0,\n      \"tema\": \"string\",\n      \"hook\": \"string\",\n      \"desarrollo\": \"string\",\n      \"punto_quiebre\": \"string\",\n      \"cta\": \"string\",\n      \"copy\": \"string\",\n      \"pilar\": \"string\"\n    }\n  ],\n  \"recomendaciones\": {\n    \"frecuencia_publicacion\": \"string\",\n    \"mejores_horarios\": \"string\",\n    \"hashtags_sugeridos\": [\"string\"],\n    \"formatos_prioritarios\": [\"string\"],\n    \"metricas_clave\": [\"string\"],\n    \"consejos_magicos\": [\"string\"]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "283e56ee-eb55-42c2-8f84-5ea1a2de5dcd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "16baea65-a3ef-419e-b1a4-a3645130932e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JN5wDvc5w64gvubu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1MvtQspi4agCHd4J3QgAft8BTAXMGso62wV2EFyKvAuY",
          "mode": "list",
          "cachedResultName": "Wishlist Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvtQspi4agCHd4J3QgAft8BTAXMGso62wV2EFyKvAuY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 794941239,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MvtQspi4agCHd4J3QgAft8BTAXMGso62wV2EFyKvAuY/edit#gid=794941239"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -224
      ],
      "id": "f47474cc-8e0f-49bd-9017-f572f08e7230",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "vrlAeQ0Yzd1UvlsU",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        48
      ],
      "id": "2cd53236-322f-4e4f-94fd-497e2848f7af",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ebT8DFJuPKahzQhh",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -224
      ],
      "id": "b13594be-b5f3-4f46-97b4-8467746c6fdc",
      "name": "Replace data in Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l8pkYkhExkYpsdNj",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Formatear para Google Docs API1').item.json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        -224
      ],
      "id": "006987d8-f195-4cff-a0a2-355e488f9381",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HvmC4tCj0SaIe2aw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=",
        "subject": "IREAL DEMO",
        "message": "<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>¡Hola Mago del Contenido!</title>     <!--[if mso]>     <style type=\"text/css\">         body, table, td {font-family: Arial, sans-serif !important;}     </style>     <![endif]-->     <style>         @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');                  * {             margin: 0;             padding: 0;             box-sizing: border-box;         }                  body {             font-family: 'Inter', Arial, sans-serif;             background-color: #fdf6eb;             padding: 0;             margin: 0;             -webkit-font-smoothing: antialiased;             -moz-osx-font-smoothing: grayscale;         }                  .container {             max-width: 600px;             margin: 0 auto;             background-color: #ffffff;         }                  /* Tipografía */         h1, h2, h3 {             font-family: 'Playfair Display', Georgia, serif;         }                  p, span, a {             font-family: 'Inter', Arial, sans-serif;         }                  /* Header con logo */         .header {             background-color: #ffffff;             padding: 30px 20px 20px;             text-align: center;         }                  .logo {             font-size: 28px;             font-weight: 600;             color: #0e0e0e;             font-family: 'Inter', Arial, sans-serif;             letter-spacing: 0.5px;         }                  .logo-square {             color: #6e0b14;             font-size: 24px;             display: inline-block;             margin-left: 2px;         }                  /* Wave divider superior */         .wave-top {             width: 100%;             height: 40px;             background: linear-gradient(180deg, #ffffff 0%, #fdf6eb 100%);         }                  /* Hero Section */         .hero {             background-color: #fdf6eb;             padding: 50px 40px;             text-align: center;         }                  .hero h1 {             font-size: 38px;             color: #6e0b14;             margin-bottom: 25px;             line-height: 1.3;             font-weight: 700;         }                  .hero p {             font-size: 18px;             color: #0e0e0e;             line-height: 1.7;             font-weight: 400;         }                  /* Sección de contenido beige */         .content-section {             background-color: #e3ddd3;             padding: 50px 40px;         }                  .content-block {             margin-bottom: 45px;         }                  .content-block h2 {             font-size: 32px;             color: #6e0b14;             margin-bottom: 20px;             font-weight: 600;             line-height: 1.3;         }                  .content-block p {             font-size: 16px;             color: #0e0e0e;             line-height: 1.8;             margin-bottom: 12px;         }                  .magic-divider {             text-align: center;             margin: 40px 0;             font-size: 50px;             opacity: 0.7;         }                  /* Título con color secundario */                  /* Beneficios */         .benefits {             background-color: #e3ddd3;             padding: 20px 40px 50px;         }                  .benefits h2 {             font-size: 32px;             color: #6e0b14;             text-align: center;             margin-bottom: 15px;             font-weight: 600;             line-height: 1.3;         }                  .benefits-subtitle {             text-align: center;             font-size: 18px;             color: #0e0e0e;             margin-bottom: 35px;             font-weight: 500;         }                  .benefit-item {             background-color: #ffffff;             border-radius: 12px;             overflow: hidden;             margin-bottom: 20px;             box-shadow: 0 2px 8px rgba(0,0,0,0.05);         }                  .benefit-content {             display: table;             width: 100%;         }                  .benefit-icon {             display: table-cell;             width: 160px;             padding: 25px 20px;             vertical-align: middle;             background-color: #fdf6eb;             text-align: center;         }                  .benefit-text {             display: table-cell;             padding: 25px;             vertical-align: middle;         }                  .benefit-label {             font-size: 19px;             color: #6e0b14;             font-weight: 600;             line-height: 1.4;             font-family: 'Playfair Display', Georgia, serif;         }                  .highlight {             background-color: #fdf6eb;             padding: 3px 10px;             border-radius: 4px;             display: inline-block;             margin-top: 5px;             font-size: 16px;             font-family: 'Inter', Arial, sans-serif;             font-weight: 600;             border: 2px solid #6e0b14;         }                  .benefit-description {             font-size: 15px;             color: #0e0e0e;             line-height: 1.7;         }                  /* CTA Section */         .cta-section {             background-color: #ffffff;             padding: 50px 40px;             text-align: center;         }                  .cta-section h2 {             font-size: 30px;             color: #6e0b14;             margin-bottom: 25px;             font-weight: 600;             line-height: 1.4;         }                  .cta-section p {             font-size: 18px;             color: #0e0e0e;             line-height: 1.7;             margin-bottom: 15px;         }                  .cta-emphasis {             font-size: 20px;             margin-top: 35px;             font-weight: 600;         }                  /* Footer */         .footer {             background-color: #e3ddd3;             padding: 40px 40px;             text-align: center;         }                  .footer-wave {             width: 100%;             height: 30px;             background: linear-gradient(180deg, #ffffff 0%, #e3ddd3 100%);             margin-bottom: 20px;         }                  .footer p {             font-size: 17px;             color: #6e0b14;             margin-bottom: 15px;             line-height: 1.6;             font-weight: 500;         }                  .footer-signature {             font-size: 16px;             color: #0e0e0e;             margin-top: 25px;         }                  .footer-logo {             font-weight: 600;             color: #0e0e0e;         }                  /* Responsive */         @media only screen and (max-width: 600px) {             .hero {                 padding: 40px 25px;             }                          .hero h1 {                 font-size: 30px;             }                          .content-section,             .benefits,             .cta-section,             .footer {                 padding-left: 25px;                 padding-right: 25px;             }                          .content-block h2,             .benefits h2,             .cta-section h2 {                 font-size: 26px;             }                          .benefit-content {                 display: block;             }                          .benefit-icon {                 display: block;                 width: 100%;                 padding: 20px;             }                          .benefit-text {                 display: block;                 padding: 20px;             }         }                  /* MSO specific */         @media all and (max-width: 600px) {             .benefit-icon {                 display: block !important;                 width: 100% !important;             }         }     </style> </head> <body>     <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fdf6eb;\">         <tr>             <td align=\"center\">                 <div class=\"container\">                     <!-- Header -->                     <div class=\"header\">                         <div class=\"logo\">ireal<span class=\"logo-square\">■</span></div>                     </div>                                          <!-- Wave divider -->                     <div class=\"wave-top\"></div>                                          <!-- Hero Section -->                     <div class=\"hero\">                         <h1>¡Hola Mago del Contenido!</h1>                         <p>Este diciembre, tu forma de crear<br>contenido se vuelve mágica con IREAL.</p>                     </div>                                          <!-- Content Section -->                     <div class=\"content-section\">                         <div class=\"content-block\">                             <h2>Imagina...</h2>                             <p>Planificar, crear y publicar contenido como por arte de magia. IREAL es la nueva app que combina inteligencia artificial y colaboración en un workspace mágico diseñado especialmente para creadores como tú.</p>                         </div>                                                  <!-- Magic Divider -->                         <div class=\"magic-divider\">✨🎩✨</div>                                                  <div class=\"content-block\">                             <h2>¿El resultado?</h2>                             <p>Menos tiempo en tareas repetitivas y más tiempo para la creatividad pura. Tu inspiración, nuestra tecnología. Juntos, convertiremos tus ideas en contenidos inolvidables.</p>                         </div>                     </div>                                          <!-- Benefits Section -->                     <div class=\"benefits\">                         <h2>¡Gracias por unirte a la lista de espera!</h2>                         <p class=\"benefits-subtitle\"><strong>Por eso obtienes hoy estos beneficios:</strong></p>                                                  <div class=\"benefit-item\">                             <div class=\"benefit-content\">                                 <div class=\"benefit-icon\">                                     <div class=\"benefit-label\">                                         Regalo<br>                                         <span class=\"highlight\">instantáneo</span>                                     </div>                                 </div>                                 <div class=\"benefit-text\">                                     <p class=\"benefit-description\">Al registrarte, recibirás de inmediato tu \"Plan de Contenido de Expectativa\" personalizado (creado con IA). Es nuestro adelanto de la magia de IREAL para que empieces a generar emoción en tu audiencia desde ya.</p>                                 </div>                             </div>                         </div>                                                  <div class=\"benefit-item\">                             <div class=\"benefit-content\">                                 <div class=\"benefit-icon\">                                     <div class=\"benefit-label\">                                         Lanzamiento<br>                                         <span class=\"highlight\">en diciembre</span>                                     </div>                                 </div>                                 <div class=\"benefit-text\">                                     <p class=\"benefit-description\">Sé de los primeros en descubrir IREAL en cuanto esté disponible. Tendrás acceso anticipado a nuestras funciones antes que el resto del mundo.</p>                                 </div>                             </div>                         </div>                                                  <div class=\"benefit-item\">                             <div class=\"benefit-content\">                                 <div class=\"benefit-icon\">                                     <div class=\"benefit-label\">                                         Comunidad<br>                                         <span class=\"highlight\">exclusiva</span>                                     </div>                                 </div>                                 <div class=\"benefit-text\">                                     <p class=\"benefit-description\">Únete a otros Magos del Contenido pioneros que, como tú, están listos para transformar la manera de crear y gestionar contenido. ¡No estás solo en esta aventura creativa!</p>                                 </div>                             </div>                         </div>                     </div>                                          <!-- CTA Section -->                     <div class=\"cta-section\">                         <h2>Estás a un paso de revolucionar tu estrategia digital.</h2>                         <p>Prepárate para llevar tu contenido al siguiente nivel con IREAL: la magia comienza en solo unas semanas.</p>                         <p class=\"cta-emphasis\">¡Gracias por ser parte de esta espera!</p>                         <p><strong>Mantente atento, que pronto te daremos más noticias.</strong></p>                     </div>                                          <!-- Footer -->                     <div class=\"footer-wave\"></div>                     <div class=\"footer\">                         <p><strong>Nos vemos en diciembre para comenzar juntos esta<br>nueva era de contenido...</strong></p>                         <p class=\"footer-signature\">Atentamente: El equipo de <span class=\"footer-logo\">ireal<span style=\"color: #6e0b14;\">■</span></span></p>                     </div>                 </div>             </td>         </tr>     </table> </body> </html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -624
      ],
      "id": "76a392a8-1e38-483e-a1d3-129db676632c",
      "name": "Send a message1",
      "webhookId": "df4041a9-dee2-4a06-8588-1cbf346ddf01",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ulh0CxVCCvBmkuP0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73777665-95cf-4f4c-acc0-748cb033b756",
              "leftValue": "={{ $json['Danos tu correo y te enviaremos tu plan mágico personalizado'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        -224
      ],
      "id": "61a4b30a-74c7-4ee3-8367-0477c5b3619d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// ========= Formatear para Google Docs API (FINAL) =========\n\n// 1) Traer replacements ya listos del nodo anterior\nconst mapNode = $('Build Replacement Map').first().json || {};\nconst replacements = mapNode.replacements || {};\nconst DEFAULT_EMPTY = '—';\n\n// 2) Construir requests de reemplazo\nconst requests = Object.entries(replacements).map(([key, val]) => ({\n  replaceAllText: {\n    containsText: { text: `{{${key}}}`, matchCase: true },\n    replaceText: (val ?? DEFAULT_EMPTY).toString()\n  }\n}));\n\n// 3) Retorno único con documentId correcto (del Copy file)\nconst documentId = $('Copy file').first().json.id;\n\nreturn [{\n  json: {\n    data: requests,\n    documentId\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -224
      ],
      "id": "a4e901f1-638d-4be8-be30-a233688658a0",
      "name": "Formatear para Google Docs API1"
    },
    {
      "parameters": {
        "jsCode": "// ========== BUILD REPLACEMENT MAP - VERSIÓN FINAL ==========\n\n// 1. OBTENER DATOS DEL AI AGENT\nconst aiData = $('AI Agent').first().json.output;\n\n// 2. OBTENER DATOS DEL FORMULARIO\nconst formData = $('Google Sheets Trigger').first().json;\n\n// 3. CONSTANTE DE FALLBACK\nconst FALLBACK = 'No disponible';\n\n// 4. HELPER: Obtener valor seguro\nconst safe = (value) => {\n  if (value === undefined || value === null || value === '') return FALLBACK;\n  return String(value);\n};\n\n// 5. HELPER: Formatear array como lista con bullets\nconst formatList = (arr) => {\n  if (!Array.isArray(arr) || arr.length === 0) return FALLBACK;\n  return arr.map(item => `• ${item}`).join('\\n');\n};\n\n// 6. HELPER: Formatear hashtags en línea\nconst formatHashtags = (arr) => {\n  if (!Array.isArray(arr) || arr.length === 0) return FALLBACK;\n  return arr.map(tag => `#${String(tag).replace(/^#/, '')}`).join(' ');\n};\n\n// 7. EXTRAER ESTRUCTURAS\nconst metadata = aiData.metadata || {};\nconst audiencia = aiData.perfil_audiencia || {};\nconst fundamentos = aiData.fundamentos || {};\nconst pilares = fundamentos.pilares_contenido || [];\nconst recomendaciones = aiData.recomendaciones || {};\nconst ideas = aiData.ideas_contenido || [];\n\n// 8. PILARES INDIVIDUALES\nconst pilar1 = pilares[0] || {};\nconst pilar2 = pilares[1] || {};\nconst pilar3 = pilares[2] || {};\n\n// 9. FORMATEAR BLOQUE DE IDEAS\nconst bloque_ideas = ideas.map((idea, index) => {\n  const num = idea.numero || (index + 1);\n  const lines = [\n    `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━`,\n    `IDEA #${num}`,\n    `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━`,\n    `📌 Pilar: ${safe(idea.pilar)}`,\n    ``,\n    `💡 Tema: ${safe(idea.tema)}`,\n    ``,\n    `🎣 Hook:`,\n    safe(idea.hook),\n    ``,\n    `📝 Desarrollo:`,\n    safe(idea.desarrollo),\n    ``,\n    `⚡ Punto de Quiebre:`,\n    safe(idea.punto_quiebre),\n    ``,\n    `📢 CTA:`,\n    safe(idea.cta),\n    ``,\n    `✍️ Copy Final:`,\n    safe(idea.copy),\n    ``\n  ];\n  return lines.join('\\n');\n}).join('\\n\\n');\n\n// 10. CONSTRUIR MAPA DE REEMPLAZOS\nconst replacements = {\n  // === METADATA ===\n  'nombre': safe(metadata.nombre),\n  'fecha': safe(metadata.fecha),\n  'email': safe(formData['Danos tu correo y te enviaremos tu plan mágico personalizado']),\n  \n  // === INPUTS DEL FORMULARIO ===\n  'que_te_gusta_hacer': safe(formData['¿Qué es lo que MÁS te gusta hacer o de lo que podrías hablar horas sin cansarte?  ']),\n  'por_que_crear': safe(formData['  ¿Por qué quieres crear contenido? ¿Qué te motiva o qué sueñas lograr con esto  ']),\n  'con_quien_conectar': safe(formData[' Imagina a la persona con la que más te gustaría conectar a través de tu contenido. ¿Cómo es? ¿Qué le importa? ¿Qué siente?  ']),\n  'temas_emocionan': safe(formData['¿Qué temas, historias o mensajes te emocionan tanto que NECESITAS compartirlos?  ']),\n  'vision_futuro': safe(formData['Si tu contenido fuera exitoso en 6 meses, ¿Qué estaría pasando? ¿Cómo se vería ese éxito para ti?  ']),\n  'tiempo_semanal': safe(formData['¿Cuánto tiempo REALMENTE puedes dedicar cada semana a crear contenido  ']),\n  \n  // === RUTA Y EXPLICACIÓN ===\n  'ruta_seleccionada': safe(aiData.ruta_seleccionada),\n  'explicacion_ruta': safe(aiData.explicacion_ruta),\n  \n  // === PERFIL DE AUDIENCIA ===\n  'audiencia_descripcion': safe(audiencia.descripcion_general),\n  'audiencia_demografia': safe(audiencia.demografia),\n  'audiencia_psicografia': safe(audiencia.psicografia),\n  'audiencia_lenguaje': safe(audiencia.lenguaje_recomendado),\n  'pain_points': formatList(audiencia.pain_points),\n  'aspiraciones': formatList(audiencia.aspiraciones),\n  \n  // === FUNDAMENTOS ===\n  'propuesta_valor': safe(fundamentos.propuesta_valor),\n  'tono_voz': safe(fundamentos.tono_voz),\n  \n  // === PILARES ===\n  'pilar1_nombre': safe(pilar1.nombre),\n  'pilar1_descripcion': safe(pilar1.descripcion),\n  'pilar1_proposito': safe(pilar1.proposito),\n  \n  'pilar2_nombre': safe(pilar2.nombre),\n  'pilar2_descripcion': safe(pilar2.descripcion),\n  'pilar2_proposito': safe(pilar2.proposito),\n  \n  'pilar3_nombre': safe(pilar3.nombre),\n  'pilar3_descripcion': safe(pilar3.descripcion),\n  'pilar3_proposito': safe(pilar3.proposito),\n  \n  // === IDEAS (BLOQUE ÚNICO) ===\n  'numero_ideas': String(ideas.length),\n  'bloque_ideas': bloque_ideas,\n  \n  // === RECOMENDACIONES ===\n  'frecuencia_publicacion': safe(recomendaciones.frecuencia_publicacion),\n  'mejores_horarios': safe(recomendaciones.mejores_horarios),\n  'hashtags': formatHashtags(recomendaciones.hashtags_sugeridos),\n  'formatos_prioritarios': formatList(recomendaciones.formatos_prioritarios),\n  'metricas_clave': formatList(recomendaciones.metricas_clave),\n  'consejos_magicos': formatList(recomendaciones.consejos_magicos)\n};\n\n// 11. LOG PARA DEBUG\nconsole.log('✅ Placeholders generados:', Object.keys(replacements).length);\nconsole.log('📊 Ideas procesadas:', ideas.length);\n\n// 12. RETORNAR\nreturn [{\n  json: {\n    replacements,\n    documentId: $('Copy file').first().json.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -224
      ],
      "id": "5bd4250a-0c2a-4131-991c-f7e3e3fdb413",
      "name": "Build Replacement Map"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build Replacement Map').item.json.replacements.email }}",
        "subject": "Tú Plan Mágico de Contenido - IREAL",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email</title>\n    <style>\n        body {\n            margin: 0;\n            padding: 0;\n            background-color: #ffffff;\n            font-family: Arial, sans-serif;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n        }\n        .image-section {\n            width: 100%;\n            display: block;\n        }\n        .image-section img {\n            width: 100%;\n            height: auto;\n            display: block;\n            border: 0;\n        }\n    </style>\n</head>\n<body>\n    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\" style=\"padding: 0;\">\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" class=\"container\">\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/gV7705PvqBkY21VWxqBSYtIm0Gk.png\" alt=\"Sección 1\" width=\"600\" height=\"298\">\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/cCXZ1Mum1VdYP2UVzPNdqaZg4z4.png\" alt=\"Sección 2\" width=\"600\" height=\"308\">\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/Wg1vFLC7ILAgeEh4yuNyUd8S8oo.png\" alt=\"Sección 3\" width=\"600\" height=\"316\">\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/HS8VanCTID0oN0nLF5tKEkqIqhM.png\" alt=\"Sección 4\" width=\"600\" height=\"292\">\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/GSQYmYw0l8avLuv6Ttibq3UAazc.png\" alt=\"Sección 5\" width=\"600\" height=\"320\">\n                        </td>\n                    </tr>\n                    <tr>\n                        <td class=\"image-section\">\n                            <img src=\"https://framerusercontent.com/images/uqqFKzLY499iX2APvTKHpOsyzNA.png\" alt=\"Sección 6\" width=\"600\" height=\"234\">\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        -208
      ],
      "id": "8558f80e-78f4-4a7f-8545-2a4480f5128c",
      "name": "Send a message2",
      "webhookId": "c219d2ee-38f6-43be-97c5-1b608840f57c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ulh0CxVCCvBmkuP0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Copy file": {
      "main": [
        [
          {
            "node": "Build Replacement Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Replace data in Google Doc": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear para Google Docs API1": {
      "main": [
        [
          {
            "node": "Replace data in Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Replacement Map": {
      "main": [
        [
          {
            "node": "Formatear para Google Docs API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4902bb0-410d-4464-851b-69b5a94b8dfd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a83214d9ffcf869f6bd8c81c14f0b13d0b8229a77702a007cf0be7f75fcf842e"
  },
  "id": "BtQA2WWIzLDFo78y",
  "tags": []
}